#!/usr/bin/make -f

export PYBUILD_NAME=lib4sbom
export PYBUILD_DESTDIR=$(CURDIR)/debian/python3-lib4sbom
export PYBUILD_INSTALL_ARGS=--install-lib=/usr/lib/python3/dist-packages
export PYBUILD_TEST_PYTEST=1
export TESTS_TO_EXCLUDE=not test_spdx_parser and \
not test_spdx_generator and \
not test_get_type and \
not test_get_files and \
not test_get_packages and \
not test_get_relationships and \
not test_output and \
not test_generator and \
not test_file and \
not test_parse and \
not test_parse_cyclonedx_json and \
not test_cyclonedx_generator and \
not test_package
export PYBUILD_TEST_ARGS=test -k "${TESTS_TO_EXCLUDE}"
export DH_ALWAYS_EXCLUDE=test

%:
	dh $@ --buildsystem=pybuild --with=python3
